* {
  box-sizing: border-box;
}
div {
  width: 100%;
  padding: 3.5%;
}
div figure {
  margin: 0 auto;
}
div img {
  width: 100%;
  height: auto;
  /*display: block;*/
}
figcaption {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
figcaption h6 {
  font-size: 2rem;
  line-height: 1.15;
}
.tag {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: gray;
}


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px
*/

@media (min-width: 768px) {
  div {
    max-width: 1080px;
    min-width: 960px;
    margin: 0 auto;
    padding: 1%;
  }
}
